.installed.cfg
*.pyc
apache/mapserver.conf
apache/wsgi.conf
buildout/bin/
buildout/develop-eggs/
buildout/eggs/
buildout/parts/
deploy/deploy.cfg
deploy/hooks/post-restore-database
development.ini
production.ini
mapserver/crdppf.map
*.egg-info/
crdppfportal/static/public/temp_files
buildout_olivier.cfg
buildout_nesitnd1.cfg
buildout_michael.cfg
buildout_francois.cfg
buildout_nesitn2.cfg
buildout_nesitn2_prepub.cfg
crdppf/static/public/temp_files/*.png
crdppf/static/public/temp_files/*.xml
crdppf/static/public/pdf/*.pdf
MANIFEST
tile_date.yaml
config_db.yaml
config_pdf.yaml
