.installed.cfg
.build
crdppf_core
*.pyc
*CRDPPF.pdf
*.egg-info/
apache/*.conf
vars_michael.yaml
michael.mk
vars_francois.yaml
francois.mk
config_pdf.yaml
development.ini
MANIFEST
production.ini
tile_date.yaml
crdppfportal/static/public/temp_files/*.png
crdppfportal/static/public/temp_files/*.xml
crdppfportal/static/public/pdf/*.pdf
crdppfportal/static/public/reglements/
crdppfportal/documents_legaux/*.*
mapserver/*.map
*.pdf
