.installed.cfg
*.pyc
apache/mapserver.conf
apache/wsgi.conf
buildout/bin/
buildout/develop-eggs/
buildout/eggs/
buildout/parts/
deploy/deploy.cfg
deploy/hooks/post-restore-database
development.ini
production.ini
mapserver/crdppf.map
*.egg-info/
sitn/static/build/*.js
sitn/static/build/*.css
buildout_olivier.cfg
buildout_nesitnd1.cfg