html body {
    font: 12px tahoma,arial,helvetica,sans-serif;
    background-color: white !important;
}

body {
	padding:20px;
}

.crdppf_infobutton {
    height:26px !important;
    width:26px !important;
}
.crdppf_panbutton {
    height:26px !important;
    width:26px !important;
}
.crdppf_printbutton {
    height:26px !important;
    width:26px !important;
}

.close {
    background-position:1 6;
}

.x-btn td{
   background-image:none; 
}
.crdppf_infobutton {
    background:url(../images/ui_buttons/normal/icon_querybypoint.gif);
	height:26px !important;
}
.x-btn-over .crdppf_infobutton {
    background:url(../images/ui_buttons/over/icon_querybypoint_over.gif);
}
.x-btn-pressed .crdppf_infobutton {
    background-image:url(../images/ui_buttons/on/icon_querybypoint_on.gif) !important;
}
.crdppf_printbutton {
    background:url(../images/ui_buttons/normal/icon_report_selection.gif);
	height:26px !important;
}
.map-toolbar .over .crdppf_printbutton {
    background:url(../images/ui_buttons/over/icon_report_selection.gif);
}
.x-btn-over .crdppf_printbutton {
    background-image:url(../images/ui_buttons/on/icon_report_selection.gif) !important;
}
.crdppf_panbutton {
    background:url(../images/ui_buttons/normal/icon_pan.gif);
	height:26px !important;
}
.x-btn-over .crdppf_panbutton {
    background:url(../images/ui_buttons/over/icon_pan.gif);
}
.x-btn-pressed .crdppf_panbutton {
    background-image:url(../images/ui_buttons/on/icon_pan.gif) !important;
}

.crdppf_frButton {
    font-weight:normal;
    position:absolute;
    right:40px;
    width:10px;
}
.x-btn-over .crdppf_frButton {
    font-weight:normal;
}
.x-btn-pressed .crdppf_frButton {
   font-weight:bold;
}

.crdppf_deButton {
    font-weight:normal;
    position:absolute;
    right:10px;
    width:10px;
}
.x-btn-over .crdppf_deButton {
    font-weight:normal;
}
.x-btn-pressed .crdppf_deButton {
    font-weight:bold;
}


.map-toolbar .img-btn .x-btn-tl,
.map-toolbar .img-btn .x-btn-tr,
.map-toolbar .img-btn .x-btn-tc,
.map-toolbar .img-btn .x-btn-ml,
.map-toolbar .img-btn .x-btn-mr,
.map-toolbar .img-btn .x-btn-mc,
.map-toolbar .img-btn .x-btn-bl,
.map-toolbar .img-btn .x-btn-br,
.map-toolbar .img-btn .x-btn-bc,
.map-toolbar .over .img-btn .x-btn-tl,
.map-toolbar .over .img-btn .x-btn-tr,
.map-toolbar .over .img-btn .x-btn-tc,
.map-toolbar .over .img-btn .x-btn-ml,
.map-toolbar .over .img-btn .x-btn-mr,
.map-toolbar .over .img-btn .x-btn-mc,
.map-toolbar .over .img-btn .x-btn-bl,
.map-toolbar .over .img-btn .x-btn-br,
.map-toolbar .over .img-btn .x-btn-bc {
    background-image:none !important;
}

.map-toolbar {
    background-color: white;
    background-image: none;
    height: 30px !important;
}

.x-tree-elbow, .x-tree-elbow-end {
    display: none;
}
.x-tree-node-collapsed,
.x-tree-node-expanded {
    font-weight: bold;
}
.x-tree-node-collapsed .x-tree-node-icon,
.x-tree-node-expanded .x-tree-node-icon {
    display: none;
}
.x-tree-node-leaf .x-tree-node-icon {
    width: 20px;
    display: none;
}
/* START openLayers style modifications*/
.olControlLayerSwitcher .layersDiv {
	color:black!important;
    -webkit-border-top-left-radius: 15px!important;
	-webkit-border-bottom-left-radius: 15px!important;
	-moz-border-radius-topleft: 15px!important;
	-moz-border-radius-bottomleft: 15px!important;
	border-top-left-radius: 15px!important;
	border-bottom-left-radius: 15px!important;
	background: -webkit-linear-gradient( top, #D8D8D8, white)!important;
	background:    -moz-linear-gradient( top, #D8D8D8, white)!important;
	background:     -ms-linear-gradient( top, #D8D8D8, white)!important;
	background:      -o-linear-gradient( top, #D8D8D8, white)!important;
	background:         linear-gradient( to bottom, #D8D8D8, white)!important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8D8D8',endColorstr='white', GradientType=0);
}
.olControlOverviewMapElement {
    -moz-border-radius: 0 0 0 0 !important;
    background-color: white !important;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding:5px 5px 5px 5px !important;
    margin-bottom:3px;
    margin-right:3px;
}

.olControlOverviewMapElement .olMap{
    border: 0 !important;
}

.olControlOverviewMapElement div.olMap {
    background:none;
}

.olControlOverviewMapMinimizeButton  img {
    display:none;
}

.olControlOverviewMapMaximizeButton  img {
    display:none;
}

.olControlOverviewMapMinimizeButton {
    cursor: pointer;
	background-image: url("../images/ol_sitn/layer-switcher-minimize.png");
    top: 0;
    left: 0;
}

.olControlOverviewMapMaximizeButton {
	background-image: url("../images/ol_sitn/layer-switcher-maximize.png");
    right: 3px !important;
    bottom: 4px !important;
    cursor: pointer;
}

/* STOP openLayers style modifications*/

/*ThemeSelector*/

#themeListView .x-list-body-inner dl{
   border-bottom: 1px solid #DDDDDD;
   border-right: 1px solid #DDDDDD;
}
#themeListView .x-list-over{
    background-color: #EBEBEB;
    cursor:pointer;
}

#themeListView .x-list-selected {
    background-color: #BDBDBD;
}
#themeListView .x-list-selected:hover {
    background-color: #BDBDBD;
}

/*featureTree*/

.sameLayerNodeAdjacentCls .x-tree-elbow-end-plus{
    background-image:url(../images/featureTree/expand_green.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeAdjacentCls .x-tree-elbow-plus{
    background-image:url(../images/featureTree/expand_green.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeAdjacentCls .x-tree-elbow-end-minus{
    background-image:url(../images/featureTree/collapse_green.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeAdjacentCls .x-tree-elbow-minus{
    background-image:url(../images/featureTree/collapse_green.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeIntersectsCls .x-tree-elbow-end-plus{
    background-image:url(../images/featureTree/expand_yellow.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeIntersectsCls .x-tree-elbow-plus{
    background-image:url(../images/featureTree/expand_yellow.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeIntersectsCls .x-tree-elbow-end-minus{
    background-image:url(../images/featureTree/collapse_yellow.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeIntersectsCls .x-tree-elbow-minus{
    background-image:url(../images/featureTree/collapse_yellow.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeWithinCls .x-tree-elbow-end-plus{
    background-image:url(../images/featureTree/expand_red.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeWithinCls .x-tree-elbow-plus{
    background-image:url(../images/featureTree/expand_red.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeWithinCls .x-tree-elbow-end-minus{
    background-image:url(../images/featureTree/collapse_red.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeWithintCls .x-tree-elbow-minus{
    background-image:url(../images/featureTree/collapse_red.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.layerNodeCls{
    padding-left:10px;
}

/*LegendPanel*/
.legendPanelCls{
    position:absolute;
    bottom: 10px;
}



