html body {
    font: 12px tahoma,arial,helvetica,sans-serif;
    background-color: white !important;
}

body {
	padding:20px;
}

.crdppf_infobutton {
    height:26px !important;
    width:26px !important;
}

.crdppf_clearselectionbutton {
    height:26px !important;
    width:26px !important;
}
.crdppf_panbutton {
    height:26px !important;
    width:26px !important;
}
.crdppf_printbutton {
    height:26px !important;
    width:26px !important;
}
.crdppf_zoomoutbutton {
    height:26px !important;
    width:26px !important;
}
.crdppf_zoominbutton {
    height:26px !important;
    width:26px !important;
}

.close {
    background-position:1 6;
}

.x-btn td{
   background-image:none; 
}
.crdppf_infobutton {
    background:url(../images/ui_buttons/normal/icon_querybypoint.gif);
	height:26px !important;
}
.x-btn-over .crdppf_infobutton {
    background:url(../images/ui_buttons/over/icon_querybypoint_over.gif);
}
.x-btn-pressed .crdppf_infobutton {
    background-image:url(../images/ui_buttons/on/icon_querybypoint_on.gif) !important;
}

.x-btn .crdppf_distancebutton , .x-menu-item .crdppf_distancebutton , .x-tree-node .crdppf_distancebutton  {
    background:url(../images/ui_buttons/normal/icon_distance.gif);
	height:26px !important;
}
.x-btn-over .crdppf_distancebutton , .x-menu-item .crdppf_distancebutton , .x-tree-node .crdppf_distancebutton  {
    background:url(../images/ui_buttons/over/icon_distance_over.gif);
}
.x-btn-pressed .crdppf_distancebutton , .x-menu-item .crdppf_distancebutton , .x-tree-node .crdppf_distancebutton  {
    background-image:url(../images/ui_buttons/on/icon_distance_on.gif) !important;
}
.x-menu-list-item .crdppf_distancebutton{
    padding-left: 30px !important;
}

.x-btn .crdppf_polygonbutton , .x-menu-item .crdppf_polygonbutton , .x-tree-node .crdppf_polygonbutton {
    background:url(../images/ui_buttons/normal/icon_surface.gif);
	height:26px !important;
}
.x-btn-over .crdppf_polygonbutton , .x-menu-item .crdppf_polygonbutton , .x-tree-node .crdppf_polygonbutton  {
    background:url(../images/ui_buttons/over/icon_surface_over.gif);
}
.x-btn-pressed .crdppf_polygonbutton , .x-menu-item .crdppf_polygonbutton , .x-tree-node .crdppf_polygonbutton  {
    background-image:url(../images/ui_buttons/on/icon_surface_on.gif) !important;
}
.x-menu-list-item .crdppf_polygonbutton{
    padding-left: 30px !important;
}

.measureOutput {
    color: red;
    margin-left: 10px;
    font-weight: bold;
}

.crdppf_clearselectionbutton {
    background:url(../images/ui_buttons/normal/icon_clearquerybypoint.gif);
	height:26px !important;
}
.x-btn-over .crdppf_clearselectionbutton {
    background:url(../images/ui_buttons/over/icon_clearquerybypoint_over.gif);
}
.x-btn-pressed .crdppf_clearselectionbutton {
    background-image:url(../images/ui_buttons/on/icon_clearquerybypoint_on.gif) !important;
}
.crdppf_printbutton {
    background:url(../images/ui_buttons/normal/icon_report_selection.gif);
	height:26px !important;
}
.map-toolbar .over .crdppf_printbutton {
    background:url(../images/ui_buttons/over/icon_report_selection.gif);
}
.x-btn-over .crdppf_printbutton {
    background-image:url(../images/ui_buttons/on/icon_report_selection.gif) !important;
}
.crdppf_panbutton {
    background:url(../images/ui_buttons/normal/icon_pan.gif);
	height:26px !important;
}
.x-btn-over .crdppf_panbutton {
    background:url(../images/ui_buttons/over/icon_pan.gif);
}
.x-btn-pressed .crdppf_panbutton {
    background-image:url(../images/ui_buttons/on/icon_pan.gif) !important;
}
.crdppf_zoominbutton {
    background:url(../images/ui_buttons/normal/icon_zoomin.gif);
	height:26px !important;
}
.x-btn-over .crdppf_zoominbutton {
    background:url(../images/ui_buttons/over/icon_zoomin_over.gif);
}
.x-btn-pressed .crdppf_zoominbutton {
    background-image:url(../images/ui_buttons/on/icon_zoomin_on.gif) !important;
}
.crdppf_zoomoutbutton {
    background:url(../images/ui_buttons/normal/icon_zoomout.gif);
	height:26px !important;
}
.x-btn-over .crdppf_zoomoutbutton {
    background:url(../images/ui_buttons/over/icon_zoomout_over.gif);
}
.x-btn-pressed .crdppf_zoomoutbutton {
    background-image:url(../images/ui_buttons/on/icon_zoomout_on.gif) !important;
}

.crdppf_frButton {
    font-weight:normal;
    position:absolute;
    right:40px;
    width:10px;
}
.x-btn-over .crdppf_frButton {
    font-weight:normal;
}
.x-btn-pressed .crdppf_frButton {
   font-weight:bold;
}

.crdppf_deButton {
    font-weight:normal;
    position:absolute;
    right:10px;
    width:10px;
}
.x-btn-over .crdppf_deButton {
    font-weight:normal;
}
.x-btn-pressed .crdppf_deButton {
    font-weight:bold;
}


.map-toolbar .img-btn .x-btn-tl,
.map-toolbar .img-btn .x-btn-tr,
.map-toolbar .img-btn .x-btn-tc,
.map-toolbar .img-btn .x-btn-ml,
.map-toolbar .img-btn .x-btn-mr,
.map-toolbar .img-btn .x-btn-mc,
.map-toolbar .img-btn .x-btn-bl,
.map-toolbar .img-btn .x-btn-br,
.map-toolbar .img-btn .x-btn-bc,
.map-toolbar .over .img-btn .x-btn-tl,
.map-toolbar .over .img-btn .x-btn-tr,
.map-toolbar .over .img-btn .x-btn-tc,
.map-toolbar .over .img-btn .x-btn-ml,
.map-toolbar .over .img-btn .x-btn-mr,
.map-toolbar .over .img-btn .x-btn-mc,
.map-toolbar .over .img-btn .x-btn-bl,
.map-toolbar .over .img-btn .x-btn-br,
.map-toolbar .over .img-btn .x-btn-bc {
    background-image:none !important;
}

.map-toolbar {
    background-color: white;
    background-image: none;
    height: 30px !important;
}

.x-tree-elbow, .x-tree-elbow-end {
    display: none;
}
.x-tree-node-collapsed,
.x-tree-node-expanded {
    font-weight: bold;
}
.x-tree-node-collapsed .x-tree-node-icon,
.x-tree-node-expanded .x-tree-node-icon {
    display: none;
}
.x-tree-node-leaf .x-tree-node-icon {
    width: 20px;
    display: none;
}
/* START openLayers style modifications*/
.olControlLayerSwitcher .layersDiv {
	color:black!important;
    -webkit-border-top-left-radius: 15px!important;
	-webkit-border-bottom-left-radius: 15px!important;
	-moz-border-radius-topleft: 15px!important;
	-moz-border-radius-bottomleft: 15px!important;
	border-top-left-radius: 15px!important;
	border-bottom-left-radius: 15px!important;
	background: -webkit-linear-gradient( top, #D8D8D8, white)!important;
	background:    -moz-linear-gradient( top, #D8D8D8, white)!important;
	background:     -ms-linear-gradient( top, #D8D8D8, white)!important;
	background:      -o-linear-gradient( top, #D8D8D8, white)!important;
	background:         linear-gradient( to bottom, #D8D8D8, white)!important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8D8D8',endColorstr='white', GradientType=0);
}
.olControlOverviewMapElement {
    -moz-border-radius: 0 0 0 0 !important;
    background-color: white !important;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding:5px 5px 5px 5px !important;
    margin-bottom:3px;
    margin-right:3px;
}

.olControlOverviewMapElement .olMap{
    border: 0 !important;
}

.olControlOverviewMapElement div.olMap {
    background:none;
}

.olControlOverviewMapMinimizeButton  img {
    display:none;
}

.olControlOverviewMapMaximizeButton  img {
    display:none;
}

.olControlOverviewMapMinimizeButton {
    cursor: pointer;
	background-image: url("../images/ol_sitn/layer-switcher-minimize.png");
    top: 0;
    left: 0;
}

.olControlOverviewMapMaximizeButton {
	background-image: url("../images/ol_sitn/layer-switcher-maximize.png");
    right: 3px !important;
    bottom: 4px !important;
    cursor: pointer;
}

/* STOP openLayers style modifications*/

/*ThemeSelector*/

#themeListView .x-list-body-inner dl{
   border-bottom: 1px solid #DDDDDD;
   border-right: 1px solid #DDDDDD;
}
#themeListView .x-list-over{
    background-color: #EBEBEB;
    cursor:pointer;
}

#themeListView .x-list-selected {
    background-color: #BDBDBD;
}
#themeListView .x-list-selected:hover {
    background-color: #BDBDBD;
}

/*featureTree*/
.layerNodeCls{
    padding-left:10px;
}
.baseLayerNodeCls{
    padding-left:10px;
}

.checkAllNodeCls{
    font-weight: bold;
    background-color: #A3E0FF;
}

.checkAllNodeCls:hover{
    font-weight: bold;
    background-color: #66CCFF !important;
}

.baseLayersNodeCls{
    font-weight: bold;
    background-color: #A3E0FF;
}

.baseLayersNodeCls:hover{
    font-weight: bold;
    background-color: #66CCFF !important;
}

.featureAttributeStyle{
    text-align:left;
    margin-left:30px;
}
.featureTreeCls .x-panel-mr .x-panel-mc {
    background-color:white;
    
}

/*infoPanel*/
.infoPanelCls{
}

/*fulltextsearch group */
.x-combo-list-group {
    background-color: #DFDFDF;
    font-weight: bold;
    padding: 4px 0;
}

.radioExtractCls {
    margin-left: 10px;
}

.textExtractCls{
    margin-left: 10px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.extractButtonCls{
    margin-left: 10px;
}

.pdfDownloadCls{
	background-color:#FFFFFF !important;
	padding: 10px !important;
	font-weight:bold !important;
	}

.fakeButton{
	padding:5px !important;
	border:1px solid #C1C1C1;
	background-color:#eee;
	}
	
span.fakeButton:hover{
	border:1px solid #990000;
	background-color:#FFD6CC;
	}

.fakeButton{
	padding:2px;
	border:1px solid #777;
	background-color:#eee;
	}
	
/* OL ScaleLine */
.olControlScaleLineTop{
    color: red; 
    font-size: 10px;
    font-weight: bold;
}

.msgButtonStyle  {  
    padding-left: 3px !important;
    border: 1px #CCCCE0 solid !important;
    margin-right: 3px !important;
}

.msgButtonStyle :hover {
    color: gray !important;
}
