html body {
    font: 12px tahoma,arial,helvetica,sans-serif;
    background-color: white !important;
}

body {
	padding:20px;
}

.crdppf_infobutton {
    height:26px !important;
    width:26px !important;
}
.crdppf_panbutton {
    height:26px !important;
    width:26px !important;
}
.crdppf_printbutton {
    height:26px !important;
    width:26px !important;
}

/* .matrix_cell_preavis_positif { background-image: url(../images/preavis_positif.png) !important; background-repeat: no-repeat;text-align:center;cursor:pointer;}
.matrix_cell_preavis_positif_cond { background-image: url(../images/preavis_positif_cond.png) !important; background-repeat: no-repeat;text-align:center;cursor:pointer;}
.matrix_cell_preavis_neutre { background-image: url(../images/preavis_neutre.png) !important; background-repeat: no-repeat;text-align:center; }
.matrix_cell_preavis_negatif { background-image: url(../images/preavis_negatif.png) !important; background-repeat: no-repeat;text-align:center;cursor:pointer;}
img.matrix_cell_preavis_negatif : hover {cursor:pointer !important;}

.silk-map-edit { background-image: url(../images/map_edit.png) !important; background-repeat: no-repeat; }
.silk-map-magnify { background-image: url(../images/map_magnify.png) !important; background-repeat: no-repeat; }
.silk-consult { background-image: url(../images/manage_consult.png) !important; background-repeat: no-repeat; }
.silk-date { background-image: url(../images/manage_date.png) !important; background-repeat: no-repeat; }
.silk-end { background-image: url(../images/manage_end.png) !important; background-repeat: no-repeat; }
.silk-add { background-image: url(../images/add.png) !important; background-repeat: no-repeat; }
.arrow_redo { background-image: url(../images/arrow_redo.png) !important; background-repeat: no-repeat; } */


.close {
    background-position:1 6;
}

/* .map-toolbar .zoomin { 
    background:url(../images/normal/icon_zoomin.gif);
}
.map-toolbar .over .zoomin {
    background:url(../images/over/icon_zoomin_over.gif);
}
.x-btn-pressed .zoomin {
    background-image:url(../images/on/icon_zoomin_on.gif) !important;
} */
/* .map-toolbar .zoomout {
    background:url(../images/normal/icon_zoomout.gif);
}
.map-toolbar .over .zoomout {
    background:url(../images/over/icon_zoomout_over.gif);
}
.x-btn-pressed .zoomout {
    background-image:url(../images/on/icon_zoomout_on.gif) !important;
} */
.x-btn td{
   background-image:none; 
}
.crdppf_infobutton {
    background:url(../images/ui_buttons/normal/icon_querybypoint.gif);
	height:26px !important;
}
.x-btn-over .crdppf_infobutton {
    background:url(../images/ui_buttons/over/icon_querybypoint_over.gif);
}
.x-btn-pressed .crdppf_infobutton {
    background-image:url(../images/ui_buttons/on/icon_querybypoint_on.gif) !important;
}
.crdppf_printbutton {
    background:url(../images/ui_buttons/normal/icon_report_selection.gif);
	height:26px !important;
}
.map-toolbar .over .crdppf_printbutton {
    background:url(../images/ui_buttons/over/icon_report_selection.gif);
}
.x-btn-over .crdppf_printbutton {
    background-image:url(../images/ui_buttons/on/icon_report_selection.gif) !important;
}
.crdppf_panbutton {
    background:url(../images/ui_buttons/normal/icon_pan.gif);
	height:26px !important;
}
.x-btn-over .crdppf_panbutton {
    background:url(../images/ui_buttons/over/icon_pan.gif);
}
.x-btn-pressed .crdppf_panbutton {
    background-image:url(../images/ui_buttons/on/icon_pan.gif) !important;
}

.crdppf_frButton {
    font-weight:normal;
    position:absolute;
    right:40px;
    width:10px;
}
.x-btn-over .crdppf_frButton {
    font-weight:normal;
}
.x-btn-pressed .crdppf_frButton {
   font-weight:bold;
}

.crdppf_deButton {
    font-weight:normal;
    position:absolute;
    right:10px;
    width:10px;
}
.x-btn-over .crdppf_deButton {
    font-weight:normal;
}
.x-btn-pressed .crdppf_deButton {
    font-weight:bold;
}

/* .map-toolbar .drawpolygon {
    background:url(../images/normal/icon_shapeadd.png);
}
.map-toolbar .over .drawpolygon {
    background:url(../images/over/icon_shapeadd_over.png);
}
.x-btn-pressed .drawpolygon {
    background-image:url(../images/on/icon_shapeadd_on.png) !important;
}

.map-toolbar .drawline {
    background:url(../images/normal/icon_lineadd.png);
}
.map-toolbar .over .drawline {
    background:url(../images/over/icon_lineadd_over.png);
}
.x-btn-pressed .drawline {
    background-image:url(../images/on/icon_lineadd_on.png) !important;
} */

/* .map-toolbar .drawpoint {
    background:url(../images/normal/icon_pointadd.png);
}
.map-toolbar .over .drawpoint {
    background:url(../images/over/icon_pointadd_over.png);
}
.x-btn-pressed .drawpoint {
    background-image:url(../images/on/icon_pointadd_on.png) !important;
}

.map-toolbar .featureedit {
    background:url(../images/normal/icon_featureedit.png);
}
.map-toolbar .over .featureedit {
    background:url(../images/over/icon_featureedit_over.png);
}
.x-btn-pressed .featureedit {
    background-image:url(../images/on/icon_featureedit_on.png) !important;
} */

/* .map-toolbar .featuredelete {
    background:url(../images/normal/icon_featuredelete.png);
}
.map-toolbar .over .featuredelete {
    background:url(../images/over/icon_featuredelete_over.png);
}
.x-btn-pressed .featuredelete {
    background-image:url(../images/on/icon_featuredelete_on.png) !important;
} */

/* .map-toolbar .savefeatures {
    background:url(../images/normal/icon_savefeatures.png);
}
.map-toolbar .over .savefeatures {
    background:url(../images/over/icon_savefeatures_over.png);
}
.x-btn-pressed .savefeatures {
    background-image:url(../images/on/icon_savefeatures_on.png) !important;
} */

./* map-toolbar .measureLength {
    background:url(../images/normal/icon_distance.gif);
}
.map-toolbar .over .measureLength {
    background:url(../images/over/icon_distance_over.gif);
}
.x-btn-pressed .measureLength {
    background-image:url(../images/on/icon_distance_on.gif) !important;
}

.map-toolbar .measureArea {
    background:url(../images/normal/icon_surface.gif);
}
.map-toolbar .over .measureArea {
    background:url(../images/over/icon_surface_over.gif);
}
.x-btn-pressed .measureArea {
    background-image:url(../images/on/icon_surface_on.gif) !important;
} */


.map-toolbar .img-btn .x-btn-tl,
.map-toolbar .img-btn .x-btn-tr,
.map-toolbar .img-btn .x-btn-tc,
.map-toolbar .img-btn .x-btn-ml,
.map-toolbar .img-btn .x-btn-mr,
.map-toolbar .img-btn .x-btn-mc,
.map-toolbar .img-btn .x-btn-bl,
.map-toolbar .img-btn .x-btn-br,
.map-toolbar .img-btn .x-btn-bc,
.map-toolbar .over .img-btn .x-btn-tl,
.map-toolbar .over .img-btn .x-btn-tr,
.map-toolbar .over .img-btn .x-btn-tc,
.map-toolbar .over .img-btn .x-btn-ml,
.map-toolbar .over .img-btn .x-btn-mr,
.map-toolbar .over .img-btn .x-btn-mc,
.map-toolbar .over .img-btn .x-btn-bl,
.map-toolbar .over .img-btn .x-btn-br,
.map-toolbar .over .img-btn .x-btn-bc {
    background-image:none !important;
}

.map-toolbar {
    background-color: white;
    background-image: none;
    height: 30px !important;
}

.x-tree-elbow, .x-tree-elbow-end {
    display: none;
}
.x-tree-node-collapsed,
.x-tree-node-expanded {
    font-weight: bold;
}
.x-tree-node-collapsed .x-tree-node-icon,
.x-tree-node-expanded .x-tree-node-icon {
    display: none;
}
.x-tree-node-leaf .x-tree-node-icon {
    width: 20px;
    display: none;
}
/* .x-tree-node-leaf .x-tree-node-icon-wms {
    vertical-align: middle;
    height: 10px;
}
.gx-tree-layer-actions {
    display: none;
    float: right;
}
.x-tree-node-over .gx-tree-layer-actions {
    display: block;
}
.gx-tree-layer-action {
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    height: 16px;
    margin: 0;
    padding: 0 2px;
    vertical-align: top;
    width: 16px;
}
.x-tree-node-actions-extended {
    display: none;
    position: absolute;
    right: 0;
    padding-right: 5px;
    background-color: #EEEEEE;
}
.x-tree-node-over .x-tree-node-actions-extended {
    display: block;
}
.x-tree-node-actions-extended .x-toolbar {
    background: none repeat scroll 0 0 transparent;
    border-width: 0 !important;
} */
/* .extra-options-container, .legend-component {
    padding-left: 60px;
} */
/* .gx-tree-layer-actions .metadata {
    background: transparent url(../images/page_world.gif) no-repeat;
}
.gx-tree-layer-actions .extra-options {
    background: transparent url(../images/cog.gif) no-repeat;
}
.gx-tree-layer-actions .extra-options-on {
    background: transparent url(../images/cog-up.gif) no-repeat;
}
.gx-tree-layer-actions .legend {
    background: transparent url(../images/legend.png) no-repeat;
}
.gx-tree-layer-actions .legend-on {
    background: transparent url(../images/legend-up.png) no-repeat;
}
.gx-tree-layer-actions .zoomtoscale {
    background: transparent url(../images/magnifier--arrow.png) no-repeat;
}
 */
/* .x-tree-node-el {
    border-bottom: 1px solid #EEEEEE;
}
.extra-options-container .x-form-item {
    margin-bottom: 0;
    font-size: 11px;
}

.x-tree-node .x-3D-ribbon {
    color: #ccc;
    font-size: 8px;
}
.x-tree-node .gx-tree-layer-outofrange .x-tree-node-icon {
    opacity: 0.5;
}

.gx-tree-node-loading {
    background: transparent url(../images/loading.gif) no-repeat left top;
}

.x-grid3-hd-inner { white-space: normal; }

td.ux-grid-hd-group-cell {
    background: url(../js/ext/resources/images/default/grid/grid3-hrow.gif) repeat-x bottom;
} */

/* a.mf {  
	color: #6699CC !important;
}

a.mf:hover { 
	font-style: normal; 
	line-height: normal; 
	color: #6699CC; 
}

td.mfmenu {
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	background-color: #CCCCFF;
	cursor:pointer;
}

td.mfmenu:hover {
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	background-color: #6699CC;
	cursor:pointer;
}

td.mfcontent {
	padding-left:15px;
	text-align:justify;
	vertical-align:top;
	line-height:20px;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px !important;
}

h2 {
	padding-top: 10px;
	padding-bottom: 10px;
}

p {
	padding-top: 10px;
	padding-bottom: 15px;	
} */

/* table.confirmation {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
}

table.confirmation td {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
}

table.banner {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: white;
	border-collapse: collapse;
}

td.banner {
	text-align:center;
	color: #999999;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #CCCCFF;
}

td.banner2 {
	border-top: thin solid gray;
} */

/* p.footsignature {

	color: #999999;
	font-size:7pt;
}

a.footsignature:hover { 
	font-style: normal; 
	line-height: normal; 
	color: #333333; 
}

a.footsignature {
	color: #666666
} */

/* h3.helpfile {
	font-style:italic;
	padding-top: 10px;
	padding-bottom: 20px;
}

ul.helpfile {
    -moz-padding-start: 40px;
	padding-left: 40px;
    display: block;
    list-style-type: disc;
    margin: 1em 0;
}

ul.helpfile2 {
    -moz-padding-start: 55px;
	padding-left: 55px;
    display: block;
    list-style-type: disc;
    margin: 1em 0;
}

li.helpfile {
	padding-top: 5px;
	padding-bottom: 5px;
}

a.helpfile:hover { 
	font-style: normal; 
	line-height: normal; 
	color: #333333;
	font-weight: normal;
}

a.helpfile {
	color: #666666;
	font-weight: normal;
}

td.helpfile {
	width: 600px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:justify;
} */
/*openLayers style modifications*/
.olControlLayerSwitcher .layersDiv {
	color:black!important;
    -webkit-border-top-left-radius: 15px!important;
	-webkit-border-bottom-left-radius: 15px!important;
	-moz-border-radius-topleft: 15px!important;
	-moz-border-radius-bottomleft: 15px!important;
	border-top-left-radius: 15px!important;
	border-bottom-left-radius: 15px!important;
	background: -webkit-linear-gradient( top, #D8D8D8, white)!important;
	background:    -moz-linear-gradient( top, #D8D8D8, white)!important;
	background:     -ms-linear-gradient( top, #D8D8D8, white)!important;
	background:      -o-linear-gradient( top, #D8D8D8, white)!important;
	background:         linear-gradient( to bottom, #D8D8D8, white)!important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8D8D8',endColorstr='white', GradientType=0);
}

/*ThemeSelector*/

#themeListView .x-list-body-inner dl{
   border-bottom: 1px solid #DDDDDD;
   border-right: 1px solid #DDDDDD;
}
#themeListView .x-list-over{
    background-color: #EBEBEB;
    cursor:pointer;
}

#themeListView .x-list-selected {
    background-color: #BDBDBD;
}
#themeListView .x-list-selected:hover {
    background-color: #BDBDBD;
}

/*featureTree*/
/*  .x-tree-ec-icon  .x-tree-node-icon .x-tree-ec-elbow-plus .x-tree-node-icon*/
/* .x-tree-lines  .sameLayerNodeCls   img{
    background-image:url(../images/featureTree/collapse_yellow.png)!important;
    background-repeat:no-repeat;
} */

.sameLayerNodeAdjacentCls .x-tree-elbow-end-plus{
    background-image:url(../images/featureTree/expand_green.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeAdjacentCls .x-tree-elbow-plus{
    background-image:url(../images/featureTree/expand_green.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeAdjacentCls .x-tree-elbow-end-minus{
    background-image:url(../images/featureTree/collapse_green.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeAdjacentCls .x-tree-elbow-minus{
    background-image:url(../images/featureTree/collapse_green.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeIntersectsCls .x-tree-elbow-end-plus{
    background-image:url(../images/featureTree/expand_yellow.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeIntersectsCls .x-tree-elbow-plus{
    background-image:url(../images/featureTree/expand_yellow.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeIntersectsCls .x-tree-elbow-end-minus{
    background-image:url(../images/featureTree/collapse_yellow.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeIntersectsCls .x-tree-elbow-minus{
    background-image:url(../images/featureTree/collapse_yellow.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeWithinCls .x-tree-elbow-end-plus{
    background-image:url(../images/featureTree/expand_red.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeWithinCls .x-tree-elbow-plus{
    background-image:url(../images/featureTree/expand_red.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeWithinCls .x-tree-elbow-end-minus{
    background-image:url(../images/featureTree/collapse_red.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.sameLayerNodeWithintCls .x-tree-elbow-minus{
    background-image:url(../images/featureTree/collapse_red.png)!important;
    background-repeat:no-repeat;
    background-size:10px 10px;
}
.layerNodeCls{
    padding-left:10px;
}



